.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #10AaAD;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img,
button {
  display: block;
  padding: 20px;
}

#cam {
  position: absolute;
  z-index: 1;
  width: 400px;
}

#container {
  display: inline-block;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 0 5px 50px #333;
}

#gameCanvas {
  position: relative;
  z-index: 20;
}
